langchain==0.3.27
langchain-community==0.3.29
langchain-groq==0.3.7
PyMuPDF==1.26.4
chromadb==1.0.20
transformers==4.55.4
torch==2.8.0
sentence-transformers==5.1.0
langsmith==0.4.20
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
langchain-chroma==0.2.6
langchain-huggingface==0.3.1
python-dotenv==1.1.1